extends ../layouts/default

block js


block intro
	.container
		.row
			//div(id="myCarousel" class="carousel slide" data-ride="carousel" style="padding:15px")
			//	ol.carousel-indicators
			//		li(data-target="#myCarousel" data-slide-to="0" class="active")
			//		li(data-target="#myCarousel" data-slide-to="1")
			//		li(data-target="#myCarousel" data-slide-to="2")
				//div(style='height:250px').carousel-inner
				//	div(class="item active")
				//		img(src="/images/slide0.png" class="img-rounded" )
					//div(class="item")
					//	img(src="/images/slide1.jpg" class="img-rounded" )
					//div(class="item")
					//	img(src="/images/slide2.jpg" class="img-rounded" )

			div(style='height:250px')
				div
					img(src="/images/logo_cover_h_2.png",style="height:230px")
					
					
				
block content
	.container
		.row
			.col-sm-12


				
				h3(style="color:#3399F3") 2016年“激励创新 索尼中国（IISC）”大型社内创新项目正式启动
				h3(style="color:#3399F3") 2016 "Inspire Innovation-Sony China (IISC)" –Large-Scale Business Innovation Event Embracing Your Participation
				br
			
				p(style="font-size:16px") 平井一夫先生十分推崇的、今年即将在中国发售的FES Watch诞生于索尼公司的种子加速计划（SAP）。你知道吗？FES Watch的提案人杉上先生最初其实是索尼公司一名电视工程师。在索尼中国成立20周年之际，为发掘播种那些具有潜力的新业务，并在中国这片土地生根发芽，索尼中国已成立专门的活动委员会将类似这样一种自下而上的创新提案机制引入中国——即日起，2016年“激励创新 索尼中国Inspire Innovation-Sony China（IISC）”社内创新提案活动正式在索尼中国拉开帷幕。
				br
				p(style="font-size:16px") 通过系列活动宣讲，IISC将首先收集索尼中国各部门对新业务的创意及新研发课题提案，然后会有专业委员会筛选出一些优秀的创意在上海和北京办公室举办展览会，最后会由高层领导评选出Top Management奖，优秀奖，并颁发奖品。更重要的是在评选奖项后，索尼中国高层领导鼓励大家全力以赴将好的想法切实落地，与相关部门充分沟通新想法，让此次活动的成果最终应用于业务实践中并获得实际利益。
				br
				p(style="font-size:16px") 索尼公司高层领导对此项年度大型创新活动给予了大力支持。对于活动高桥洋先生指出：“公司资源与客户需求之间重合的部分就是我们的业务机会。而在快速发展的中国市场上，仍有许多机遇尚未被我们充分发掘。”IoT, VR，互联网+……这些最IN最热的词汇如何与中国市场擦出全新的火花？或许在你的身边就有这样的业务机遇只是你缺少发现的眼睛；亦或许你已经具备了某个业务创想却一直苦于没有场合表达。鼓励思考创新、提供展现舞台，IISC期待发现你的精彩！				

				a(href="/doc/intro/IISC_introduction.pptm",) 点击了解更多详情
				br
				a(href="/doc/intro/IISC_entry_introduction.pptm",) 点击了解报名方法
				br
				br

				a(href="/register",style="color:red;font-weight:bold")
					img(src="/images/entry.gif")
				br
				br
				br

				p(style="font-size:16px") The FES Watch, which is praised highly by Mr. Kazuo Hirai and will hit China market this year, was born in Sony's Seed Acceleration Program (SAP). However, do you know that the FES Watch project leader, Mr. Sugiyama, was originally a television engineer of Sony? On the 20th anniversary of Sony China(SCN), to explore those potential new business and take roots in China, SCN has established special project committee to introduce such a kind of "bottom-up" innovation proposal mechanism into China--- 2016 “Inspire Innovation-Sony China（IISC）” business innovation event has officially kicked off in SCN. 
				br
				p(style="font-size:16px") Based on a series of introduction activities, IISC will firstly collect new business idea and proposals both concerning on new business and research from all sectors of SCN. The committee will then select some outstanding cases and take exhibitions in Shanghai and Beijing office. Eventually, the cases will be evaluated by the top managers, while awards and prizes, including Top Management Prize, Outstanding Prize, will be issued. More importantly, after the awarding ceremony, SCN top managers encourage good idea presenters to communicate with certain departments to apply event results to business practices and gain practical benefits.
				br
				p(style="font-size:16px") SCN top managers have given a strong support on this large-scale annual innovation event. With regard to the activity, Mr.Takahashi encouraged that: “The overlapping part between corporate resources and customer needs is where our business chances lie on. Though in the fast-growing Chinese market, there are still many opportunities that we have not yet fully excavated.” IoT, VR，internet plus…… how to combine these IN words, also the technological hot topics with Chinese market and ignite the brand-new spark? Perhaps you have such business opportunities around you, but you have been failing to point them out. Or you have got a new business idea but nowhere to express it. Inspiring thinking and innovation, providing show stage, IISC is expecting your participation and excellent performance!				
				a(href="/register",style="color:red;font-weight:bold") Click for registration
				br
				a(href="/doc/intro/IISC_introduction.pptm",) Click for more details
				br
				a(href="/doc/intro/IISC_entry_introduction.pptm",) Click for entry introduction
				br



		.row
			.col-sm-12
				h3(style="color:#3399F3") Message For IISC

				OBJECT(classid="clsid:D27CDB6E-AE6D-11cf-96B8-4445535411111",codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0",height="345",width="360")
						param(name='movie' value='/video/flvplayer.swf')
						//param(name='quality' value='high')
						param(NAME="Play" VALUE="1")
						param(NAME="Loop" VALUE="1")
						param(name='allowFullScreen' value='true')
						embed(src='/video/flvplayer.swf' allowfullscreen='true' flashvars='vcastr_file=/video/dayifu.flv&IsAutoPlay=0' quality='high' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' width='750' height='430')



