extends ../layouts/default

block js


block intro
	.container
		.row
			//div(id="myCarousel" class="carousel slide" data-ride="carousel" style="padding:15px")
			//	ol.carousel-indicators
			//		li(data-target="#myCarousel" data-slide-to="0" class="active")
			//		li(data-target="#myCarousel" data-slide-to="1")
			//		li(data-target="#myCarousel" data-slide-to="2")
				//div(style='height:250px').carousel-inner
				//	div(class="item active")
				//		img(src="/images/slide0.png" class="img-rounded" )
					//div(class="item")
					//	img(src="/images/slide1.jpg" class="img-rounded" )
					//div(class="item")
					//	img(src="/images/slide2.jpg" class="img-rounded" )

			div(style='height:250px')
				div
					img(src="/images/logo_cover_h_2.png",style="height:230px")
					
					
				
block content
	.container
		.row
			.col-sm-12


				
				h3(style="color:#3399F3") 第2届“激励创新 索尼中国（IISC）”大型社内创新项目正式启动
				h3(style="color:#3399F3") The Second "Inspire Innovation-Sony China (IISC)" –Large-Scale Business Innovation Event Embracing Your Participation
				br
			
				p(style="font-size:16px") 即日起，第2届“激励创新 索尼中国Inspire Innovation-Sony China（下称IISC）”社内创新提案活动正式启动！
				br
				p(style="font-size:16px") 为发掘播种那些具有潜力的新业务，并在中国这片土地生根发芽，去年，索尼（中国）的IISC活动委员会将类似总部SAP这样一种自下而上的创新提案机制引入了中国。通过系列宣讲，2016年公司16个部门共计69个项目参与了第一届IISC活动。其中40个项目获得了在北京和上海两地办公室的展览机会，9项目脱颖而出并出获得了公司管理层的表彰。
				br
				p(style="font-size:16px") 今年，为给大家创造与相关部门充分沟通想法的机会，全力以赴协助项目最终应用于业务实践中获得实际利益，第2届IISC新增了Idea BBS 和Audition两个环节。Idea BBS是项目申报网站新开设的一个版块，参与者可在这个版块中寻找SCN范围内的项目合作者；Audition以会议的形式召开，在这里项目负责人可以通过演讲介绍自己的项目并和公司内拥有较多资源的伙伴交流。本届活动期望更好地协助有前景的企划项目寻找到落地的资源和资金。				
				br
				
				p(style="font-size:16px") 第2届IISC项目日程计划：
				p(style="font-size:16px")
				li 2017年7月28日-9月30日：登陆XXX，申报项目
				li 2017年10月-11月：寻找项目伙伴及重点项目甄选会筹备
				li 2017年12月：重点项目甄选会
				li 2018年3月：北京上海两地展览会
				li 2018年春季经理会：颁奖仪式

				br
				p(style="font-size:16px") 机器人、AI、IoT、VR、AR、互联网+……这些最IN最热的词汇如何与中国市场擦出全新的火花？或许在你的身边就有这样的业务机遇只是你缺少发现的眼睛；或许你已经具备了某个业务创想却一直苦于没有场合表达；亦或许你将去年的提案加以完善……不论是IISC的老朋友还是刚入职的新员工，鼓励思考创新、提供展现舞台，新财年里，IISC依旧期待发现你的精彩！

				br 
				p(style="font-size:16px") 网站使用技术指导：Lyon.Liu@sony.com
				p(style="font-size:16px") 项目申报咨询指导：Linlin.Zhang@sony.com
				br
				br

				a(href="/register",style="color:red;font-weight:bold")
					img(src="/images/entry.gif")
				br
				br
				br



				p(style="font-size:16px") The second “Inspire Innovation-Sony China（IISC）” business innovation event has officially kicked off in SCN.

				p(style="font-size:16px") Last year, to explore those potential new business and take roots in China, SCN’s IISC project committee introduced the "bottom-up" innovation proposal mechanism into China. Based on a series of introduction activities, 69 projects from 16 departments participated in the first IISC in 2016 totally. 40 projects won the opportunity to take exhibitions in Shanghai and Beijing office, and 9 projects won awards from company management.
				br
				p(style="font-size:16px") This year, in order to give participant an opportunity to communicate with certain departments adequately, and to go all out to help the projects applied to business practice and make practical benefits, the Second IISC plans to newly add “Idea BBS” and “Audition” sections. Idea BBS is a website column, allowing applicants to find partners from SCN through online communication. Audition is a meeting, facilitating project owner to present idea and obtain assist from resource sponsors. It is expected that the promising projects will finally get resource and financial support based on the communication in both the Idea BBS and Audition sections.
				br
				p(style="font-size:16px") Schedule for the second IISC:
				li From 2017 July 28, to 2017 Sep. 30: Log in XXX, submit your application 
				li 2017 Oct. - 2017Nov. : Find partners through Idea BBS and prepare for the Audition
				li 2017 Dec.: Hold the Audition
				li 2018 Mar.: Hold the exhibitions in Shanghai and Beijing office
				li 2018 Spring Management Meeting: Awarding Ceremony


				br
				p(style="font-size:16px")  AI, robot, IoT, VR, AR, internet plus…… how to combine these IN words, also the technological hot topics with Chinese market and ignite the brand-new spark? Perhaps you have such business opportunities around you, but you have been failing to point them out. Or you have got a new business idea but nowhere to express it. Or you have a last year’s proposal to enrich….. Inspiring thinking and innovation, providing show stage, whether you are IISC’s old friends or new employees, IISC is expecting your participation and excellent performance in the new fiscal year!

				br 
				p(style="font-size:16px") 
				Technical Guidance for Website Use ：Lyon.Liu@sony.com
				p(style="font-size:16px") 
				Consulting Guidance for Project Application: Linlin.Zhang@sony.com
				br
				br




