extends ../layouts/default
block intro
	.container
		h3(class="headtitle") Change password
		
block content
	.container
		.row
			div.col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='changePassword')
					.form-group
						label Origin Password
						input(type='text', name='password_origin', onfocus='this.type="password"', autocomplete='off').input-sm.form-control
					.form-group
						label New Password
						input(type='password', name='password_new').input-sm.form-control
					.form-group
						label Confirm Password
						input(type='password', name='password_confirm').input-sm.form-control
					.form-actions
						button(type='submit').btn.btn-primary Save
			div(style="padding-left:50px").col-sm-8.col-md-6
				label Contacts:
				br
				p(style="text-indent:1em;font-weight:bold;margin-top:0px;margin-bottom:0px") Fei.Liu@sony.com.cn 18515205596	
				p(style="text-indent:1em;font-weight:bold;margin-top:0px;margin-bottom:0px") CherryA.Cai@sony.com.cn 0510-81120205