extends ../layouts/default

block intro
	.container
		h3(class="headtitle") IISC Selection Result
		
block content
	.container
		.row
			div(style='height:3400px')
				div
					//img(src="/images/calendar.jpg",style="height:600px;margin-left:50px")
					h5 *These Themes have been selected by Theme Selection Committee in a fair manner.
					img(src="/images/list1.png",style="width:1100px")
					img(src="/images/list2.png",style="width:1100px")
					br
					br
				//	h3(style="color:#3399F3") IISC Calendar
				//	img(src="/images/calendar.jpg",style="height:550px;margin-left:30px")


